* {
    margin: 0;
    padding: 0;

    list-style-type: none;

 }

.navStyle{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    background-color: #f7f7f7;
    width: 100%;
    position: fixed;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
}

.elementor-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.elementor-col{
    width: 10.01%;
}

.border-nav{
    box-sizing: border-box;
}
.title{
    font-weight: 800;
    text-justify: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.imgLi{
    vertical-align: middle;
}

.navCenter{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.li{
    display: inline;
    padding: 20px;
}



